<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Playground</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='playground-styles.css') }}">
    <link href="https://cdn.prod.website-files.com/62be13fdb8a06d0f7cf4aa7b/css/pixels-a90552.webflow.045ba9c13.css"
        rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com" rel="preconnect" />
    <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin="anonymous" />
</head>

<body>
    <div class="cover cover-bg">
        <div class="container-main">
            <img src="https://cdn.prod.website-files.com/62be13fdb8a06d0f7cf4aa7b/62cedce23075eeefa4391c3d_cloud1.png"
                class="cloud-1 cloud-1-1" />
            <img src="https://cdn.prod.website-files.com/62be13fdb8a06d0f7cf4aa7b/62cedce23075eeefa4391c3d_cloud1.png"
                loading="eager" alt="" class="cloud-1 cloud-1-2" /><img
                src="https://cdn.prod.website-files.com/62be13fdb8a06d0f7cf4aa7b/62cedd2a8d68d86bc3433530_cloud3.png"
                loading="eager" alt="" class="cloud-2 cloud-2-1" /><img
                src="https://cdn.prod.website-files.com/62be13fdb8a06d0f7cf4aa7b/62cedd2a8d68d86bc3433530_cloud3.png"
                loading="eager" alt="" class="cloud-2 cloud-2-2" /><img
                src="https://cdn.prod.website-files.com/62be13fdb8a06d0f7cf4aa7b/62cedd0333b4d08248813ec8_cloud2.png"
                loading="eager" alt="" class="cloud-2 cloud-2-3" /><img
                src="https://cdn.prod.website-files.com/62be13fdb8a06d0f7cf4aa7b/62cedd0333b4d08248813ec8_cloud2.png"
                loading="eager" alt="" class="cloud-3 cloud-3-1" /><img
                src="https://cdn.prod.website-files.com/62be13fdb8a06d0f7cf4aa7b/62cedd0333b4d08248813ec8_cloud2.png"
                loading="eager" alt="" class="cloud-3 cloud-3-2" />
            <!-- <div class="header">
                
                <ul role="list" class="menu w-list-unstyled">
                    <li class="menu-item"><a href="{{url_for('page_playground')}}" target="_blank"
                            class="header-link">Playground</a></li>
                    <li class="menu-item"><a href="" target="_blank" class="header-link">Forum</a></li>
                    <li class="menu-item"><a href="#" target="_blank" class="header-link">Help Center</a></li>
                </ul>
            </div> -->

            <div class="main-section">
                <img src="{{ url_for('static', filename='assets/logo-play.png') }}" class="play-tag" width="70%" alt="" srcset="">
                <div class="box-content">
                    <div class="box-section">
                        <div class="box-text">
                            <img src="{{ url_for('static', filename='assets/box-1.png') }}" class="box" alt="" srcset="">
                            <div class="box-text-main">
                                <a href="{{url_for('page_playground_basic')}}" target="_blank" class="btn-box-2">  <h2 class="box-text-main">BASIC</h2> </a>
                            </div>
                        </div>
                        <img src="{{ url_for('static', filename='assets/box-2.png') }}" class="box" alt="" srcset="">
                        <div class="box-text-main-2">
                            <a href="{{url_for('page_playground_advanced')}}" target="_blank" class="btn-box"> <h2 class="box-text-main-2">ADVANCE</h2> </a>
                        </div>
                    </div>
                </div>

                <div class="main-page" id="landing">
                    <div class="char-page">
                        <div class="char-1">
                            <img src="{{ url_for('static', filename='assets/subtitle.gif') }}" class="sub" alt="">
                            <img src="https://media.tenor.com/BUKv6W4RYlwAAAAi/maki-harukawa-maki.gif" loading="lazy"
                                style="height:10rem;" alt="nahhhh" class="image2" />
                            <!-- <span id="bubble">
                                <h1 id="quote">Pack my box with five dozen liquor jugs. Click to restart animation!</h1>
                              </span> -->
                        </div>
                        <div class="char-2">
                            <img src="https://media.tenor.com/TGVhV3buACUAAAAi/danganronpa-v3.gif" loading="lazy"
                                style="height:10rem;" alt="nahhhh" class="image2" />
                            <img src="{{ url_for('static', filename='assets/subtitle-2.gif') }}" class="sub" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='playground.js') }}"></script>
</body>

</html>