<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Roboto:wght@300&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="../../../static/login-signup-styles.css">
</head>

<body>
    <div class="container">
        <h1 class="title">LOG IN</h1>
        <form class="signup-form">
            <input type="text" placeholder="Full Name" required>
            <input type="text" placeholder="Username" required>
            <input type="email" placeholder="Email" required>
            <input type="password" placeholder="Password" required>
            <div class="signup-button-container">
                <button type="submit" class="signup-button">LOGIN</button>
                <button class="signup-button signup-google"><a class="anchor-form"
                        href="https://accounts.google.com/signup">GOOGLE</a></button>
                <button class="signup-button signup-google"><a class="anchor-form"
                        href="https://github.com/signup">GITHUB</a></button>
            </div>
        </form>
        <p class="login-prompt">Not a member? <a href="./signup.html" class="login-signup-link">Sign Up</a></p>
        <!-- Redirect to login page -->
    </div>
</body>

</html>
