<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Roboto:wght@300&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="../../../static/login-signup-styles.css">
</head>

<body>
    <div class="container">
        <h1 class="title">SIGN UP</h1>
        <form class="signup-form">
            <input type="text" placeholder="Full Name" required>
            <input type="text" placeholder="Username" required>
            <input type="email" placeholder="Email" required>
            <input type="password" placeholder="Password" required>
            <div class="signup-button-container">
                <button type="submit" class="signup-button">SIGN UP</button>
                <button type="submit" class="signup-button signup-google">GOOGLE</button>
                <!-- Should redirect to google signup page -->
                <button type="submit" class="signup-button signup-github">GITHUB</button>
                <!-- Redirrect to github signup page -->
            </div>
        </form>
        <p class="login-prompt">Already a member? <a href="./login.html" class="login-signup-link">Log In</a></p>
        <!-- Redirect to login page -->
    </div>
</body>

</html>
