<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="nav_style.css">
    <title>Machine Minds</title>
</head>

<body>
    <div class="nav-wrapper" id="nav-wrapper">
        <nav class="flex align-center">
            <p><span>Machine</span>Minds</p>
            <ul>
                <li class="big-screens">
                    <a href="#">Home</a>
                    <a href="#">Playground</a>
                    <a href="#">Guide-Docs</a>
                    <a href="#">Forums</a>
                    <button class="btn register">Register</button>
                    <button class="btn login">Log In</button>
                </li>
                <li class="small-screens">
                    <i class="fa-solid fa-bars"></i>
                </li>
            </ul>
        </nav>

    </div>
</body>

</html>
