*{
    box-sizing: border-box;
    padding: 0;
    width: 0;
}
.container-main {
	background: url("../../assets/landscape-main.png");
	width: 100vw;
	height: 100vh;
	background-size: cover;
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: center !important; */
}
.section-main{
    /* width: 100%; */
    height: 200px;
    /* background-color: aqua; */
    margin-left: 380px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.textbox{
    width: 760px ;
    height: 150px;
    background: url("../../assets/select-lvl.png");
    /* background-color: antiquewhite; */
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}
.heading-main{
    align-items: center;
    font-size: 60px;
    width: 100%;
    margin-left: 100px;
    color: white;
    margin-top: 30px;
}

/* LEVEL */
.levels{
    /* background: white; */
    width: 80%;
    height: 200px;
    margin-top: 100px;
    margin-left: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.card{
    background-color: red;
    width: 100px;
    margin: 0px 30px;
    height: 100px;
    text-align: center;
}

.btn {
    width: 100px;
    height: 100px;
    --btn-color: rgb(124 45 18);
    --btn-bg: rgb(252 211 77);
    display: flex;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    background-color: var(--btn-bg);
    color: var(--btn-color);
    /* padding: 0px 52px; */
    border-radius: 8px;
    border: 0;
    cursor: pointer;
    font-weight: 600;
    font-size: 1rem;
    font-family: system-ui;
    border: 2px solid var(--btn-color);
    transition: 100ms ease;
    box-shadow: 5px 5px 0 0 var(--btn-color);
  }
  .btn>h2{
    margin-right: 50px;
    font-size: 40px;
    color: brown;
    margin-top: 20px;
  }
  
  .btn--secondary {
    --btn-color: #444;
    --btn-bg: #fafafa;
  }
  
  .btn svg {
    width: 20px;
    height: 20px;
    flex-shrink: 0;
  }
  
  .btn:hover {
    box-shadow: 2px 2px 0 0 var(--btn-color);
  }
  
  .btn:active {
    transition: 50ms ease;
    box-shadow:  0 0 0 0 var(--btn-color);
  }
  
  .btn:focus-visible {
    outline: 0;
    --btn-color: #002cc8;
  }
  
  .btn:focus-visible::after {
    position: absolute;
    left: 50%;
    top: calc(100% + 12px);
    transform: translateX(-50%);
    content: "\21E7";
    animation: float .5s ease-in-out infinite;
  }
  
  @keyframes float {
      0% {
          transform: translateX(-50%) translatey(0px);
      }
      50% {
          transform: translateX(-50%) translatey(-6px);
      }
      100% {
          transform: translateX(-50%) translatey(0px);
      }
  }
  
  .nav-basic{
    /* width: 200px; */
    width: 200px;
    /* margin: 0px 200px; */
    padding-top: 50px;
    background-color: yellow;
    padding: 20px;
    font-size: 50px;
    border-radius: 0px 0px 20px 20px;
  }
  .nav-basic > strong{
    font-size: 25px;
  }