/* GOOGLE FONTS */
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,400i,700");

/* CSS RESET */

button,
.btn {
	font-family: inherit;
}

/* CSS RESET ENDS */

/* NAVIGATION BAR */

nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 20px;
	padding: 0.75rem 5vw;
}

nav span {
	color: #4caf50;
}

nav p {
	font-size: 25px;
	font-weight: 600;
	cursor: default;
}

nav li {
	display: flex;
	align-items: center;
	list-style: none;
}

nav a {
	text-decoration: none;
	color: #676767;
	padding: 0 1rem;
	transition: 0.1s ease-in-out;
	font-size: 20px;
}
nav a:hover {
	color: #121212;
}

nav .btn {
	padding: 0.5rem 1rem;
	margin: 0 0 0 0.5rem;
	border: 1px solid #4caf50;
	border-radius: 5px;
	font-weight: 600;
	cursor: pointer;
	transition: 0.2s ease-in-out;
	font-size: 17px;
}

.register {
	background-color: #4caf50;
	color: white;
	border: 1px solid #4caf50;
	border-radius: 5px;
}

.register:hover {
	background-color: #3c8c40;
}

.login {
	background-color: white;
	color: #4caf50;
}

.login:hover {
	background-color: #4caf50;
	color: white;
	border: 1px solid #4caf50;
	border-radius: 5px;
}

/* NAVIGATION BAR ENDS */

/* MEDIA QUERIES - RESPONSIVE LAYOUT */

/* DESKTOP - LAPTOP - TABLET */
@media screen and (min-width: 850px) {
	nav .small-screens {
		display: none;
	}
}

/* MOBILE */
@media screen and (max-width: 850px) {
	nav {
		padding: 1rem 5vw;
	}

	nav .small-screens i {
		font-size: 25px;
		cursor: pointer;
	}

	nav .big-screens {
		display: none;
	}
}

/* MEDIA QUERIES ENDS*/

