/* Universal Styles */
* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

/* Container Styles */
.container-main {
	background: url("./assets/landscape-main.png");
	width: 100vw;
	height: 100vh;
	background-size: cover;
}

/* Keyframes for Cloud Animation */
@keyframes cloud {
	0%,
	100% {
		transform: translate3d(0, 0, 0);
	}
	49% {
		transform: translate3d(-200vw, 0, 0);
		visibility: hidden;
	}
	50%,
	51% {
		transform: translate3d(200vw, 0, 0);
		visibility: hidden;
	}
}

/* Media Queries */
@media (min-width: 768px) {
	.cloud-1 {
		animation: cloud 180s linear infinite;
	}

	.cloud-2 {
		animation: cloud 240s linear infinite;
	}

	.cloud-3 {
		animation: cloud 300s linear infinite;
	}
}

/* Main Page Styles */
.main-page {
	padding: 30px;
	position: relative;
	/* bottom: 40px; */
	left: 20px;
}

/* Character Page Styles */
.char-page {
	height: 100%;
	display: flex;
	justify-content: space-between;
	padding: 0 70px;
}

/* Main Section Styles */
.main-section {
	align-items: center;
	/* position: relative; */
	/* bottom: 70px; */
}

/* Play Tag Styles */
.play-tag {
	position: relative;
	top: 20px;
	left: 245px;
}

/* Character Styles */
.charachter {
	margin: 0;
	padding: 0;
	position: relative;
	bottom: 40px;
	scale: 1;
}

/* Menu Item Styles */
.menu-item {
	background-color: #f95700;
	padding: 20px;
	border-radius: 14px;
	box-shadow: 4px 4px 0px white;
}

.header-link:hover {
	color: #fffb00;
}

/* Sub-section Styles */
.sub {
	width: 200px;
	height: 100px;
	position: relative;
	bottom: 110px;
}

/* Box Section Styles */
.box-section {
	display: flex;
	justify-content: space-between;
	padding: 0 100px;
	width: 60%;
	align-items: center;
}

/* Box Styles */
.box {
	width: 300px;
	height: 300px;
	position: relative;
}

/* Box Content Styles */
.box-content {
	position: relative;
	left: 300px;
}

/* Box Text Styles */
.box-text {
	position: relative;
}

.box-text-main-2 {
	position: absolute;
	left: 265px;
	font-size: 40px;
	top: 65px;
	color: #ffffff;
}

.box-text-main-2:hover {
	color: #fff700;
}

.btn-box {
	color: #fff700;
}

.box-btn {
	font-size: 20px;
	color: white;
	position: relative;
	top: 120px;
	left: 60px;
	background-color: #080004;
	padding: 20px;
}

.box-link {
	color: aliceblue !important;
}

.box-text-main {
	position: absolute;
	left: 30px;
	font-size: 50px;
	top: 65px;
	color: #ff005d;
}

.box-text-main:hover {
	color: #080004;
}

.btn-box-2 {
	color: #ffffff;
}

.btn-box-2:hover {
	cursor: pointer;
}

.nav-basic {
	/* width: 200px; */
	width: 200px;
	/* margin: 0px 200px; */
	padding-top: 50px;
	background-color: rgb(255, 234, 0);
	padding: 20px;
	margin: 0px;
	font-size: 50px;
	border-radius: 20px 20px 0px 0px;
	/* position: absolute; */
}
.nav-basic > strong {
	font-size: 25px;
	color: #491a00;
	text-decoration: none;
}
