*{
    box-sizing: border-box;
    padding: 0;
    width: 0;
}
.container-main {
	background: url("../assets/landscape-main.png");
	width: 100vw;
	height: 100vh;
	background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center !important;
}
.section-main{
    width: 100%;
    height: 200px;
    /* background-color: aqua; */
    margin-right: 560px;
    margin-bottom: 470px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.textbox{
    width: 510px ;
    height: 100px;
    background: url("../assets/select-lvl.png");
    /* background-color: antiquewhite; */
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.heading-main{
    align-items: center;
    font-size: 40px;
    width: 100%;
    margin-left: 70px;
    color: white;
    margin-top: 30px;
}

/* LEVEL */

